.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

body {
  background-color: rgba(206, 224, 221, 0.208);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
  border: 0;
  height: 3px;
  background-color: #4c82af; /* Verde */
  width: 80%;
  border-radius: 5px;
}

td, th {
  border: 1px black solid;
  text-align: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(206, 224, 221, 0.383);
  font-size: 20px;
}

#crear-tarea, #actualizar {
  text-align: center;
  padding: 5px 40px 5px;
  margin: 15px 0px;
  font-size: 20px;
  border: 2px orange solid;
  background-color: rgb(254, 182, 47);
}

#crear-tarea:hover, #actualizar:hover {
  background-color: rgb(255, 209, 122);
}

#editar, #borrar {
  text-align: center;
  padding: 5px 8px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 20px;

}
#editar {
  border: 2px rgb(53, 62, 243) solid;
  color: rgb(0, 0, 0);
  background-color: rgba(91, 166, 232, 0.711);
}

#borrar {
  border: 2px rgb(243, 53, 53) solid;
  color: rgb(0, 0, 0);
  background-color: rgba(232, 91, 91, 0.711);
}

#editar:hover {
  background-color: rgba(122, 195, 255, 0.833);
}

#borrar:hover {
  background-color: rgba(255, 122, 122, 0.833);
}

